
<nav class="flex align-items-center justify-content-between">
  <div>
    <a href="">
      <img src="../../../assets/logo.svg" alt="Laracast Logo" width="165" height="16">
    </a>
  </div>
  <div class="mt-2">
    <p-button label="Home Page" styleClass="p-button-secondary p-button-text mr-3"></p-button>
    <p-button label="Subscribe for Updates" styleClass="p-button-rounded"></p-button>
  </div>
</nav>

<header class="max-w-max mx-auto text-center mt-8">

  <div>

    <h1>
        Últimas <span> Novedades EMCOMED </span> Noticias
    </h1>

    <h2>
      By Daniel Cortina <img src="../../../assets/lary-head.svg" alt="Head of Larry Mascot">
    </h2>

    <p>
      Another year. Another update. We're refreshing the popular Laravel series with new content.
      I'm going to keep you guys up to speed with what's going on!
    </p>

  </div>

</header>
